body{
    font-family: sans-serif;
    background-color: #71a6ae;
}

.container{
    border: 1px solid #ca0b0b;
    width: 90%;
    max-width: 960px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 960px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

.forma {
    background-color: white;
    border: 1px solid #71a6ae;
    border-radius: 7px;
    padding: 15px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.unos {
    display: flex;
    flex-direction: column;

}

h1 {
    text-decoration: underline;
    text-decoration-color: #ca0b0b;
    text-underline-offset: 10px;
    
    
    
}


label{
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select{
    font-size: 1.1rem;
    border: 1px solid #18668c;
    border-radius: 3px;
    padding: 8px;
}

input[type="submit"]{
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 8px;
    width: 20%;
    /* align-self: left; */
}



table{
    width: 90%;
    border: 1px solid #18668c;
    border-collapse: collapse;
    padding: 20px;
    margin-left: 40px;
    text-align: left;
    font-size: small;
    font-weight: bold;
    
}

table, th, tr, td {
    border: 1px solid #f9e5da;
    


}

thead {
    background-color: #18668c;
    color: white;
    text-transform: uppercase;
    border-collapse: collapse;
    padding: 10px;
    
    
}


tbody  tr:nth-child(2), tr:nth-child(4){
    background-color: silver;
}

.crveno {
    color: #ca0b0b;
}

td, th{
    padding: 10px;
    border: none;
}
tr{
    border: none;
}

.naslov{
    padding-left: 20px;
}