body {
    font-family: cursive;
    background-color: silver;
}

.container {
    max-width: 1100px;
    width: 900px;

    height: 100vh;
    padding: 10px;
    
    background-color: gold;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.frame {
    padding: 20px; 
    width: 90%;  
    font-size: 20px; 
}

option {
    font-size: 20px;
    color: darkblue;
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
    width: auto;
    gap: 1rem;
    flex-direction: column;
}

input {
    padding: 20px;
    font-size: 20px;
}

.btn {
    justify-content: right;
    text-align: right;
    padding: 15px;
    margin-right: 40px;
}

button {
    padding: 60px 40px;
    border-radius: 70%;
    font-size: larger;
    background-color: darkblue;
    color: white;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

h2 {
    text-align: center;
}