body{
    font-family: sans-serif;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    background-color: silver;
    text-align: left;
   
}

.container{
    
    width: 78%;
    max-width: 450px;
    min-width: 200px;
    inline-size: 70%;
    max-inline-size: 450px;

    min-height: 50vh;
    min-block-size: 50vh;

    margin: 0 auto;
    background-color: white;
    
    outline-style: none;
    outline-width: 2px;
    outline-offset: 10px;

    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;       /* reže i rubove slike */
    
}
 

ul {list-style: none}
ul {padding: 0;}
ul li::before {content: "✔️";}


.dio1{
    font-size: 130%;
    font-family: Arial, sans-serif;
}

section{
    padding-left: 20px;
    border-radius: 1rem;
    margin: 10px;
}

hr.linija {
  height: 1px;            
  background: rgba(128, 128, 128, 0.123);
  
  margin: 18px 0;          
  width: 95%;
}
