body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman';
}

h5{
    color: grey;
    text-align: center;
}

h3{
    background-color: brown;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 96%;
    padding: 10px;
    margin-left: 26px;
    border-radius: 2px;
    gap: 30px;
}

h3 a{
    color: white;
    text-decoration: none;
    font-weight: bold;


}
.linija{
    width: 97%;
    height: 6px;
    background-color: brown;
}

.okvir{
    padding: 10px;
    margin: 2rem;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #EEEEEE;
}

.stupac.a{
    float: left;
    column-gap: 20px;
    max-width: 150px;
    margin-right: 20px; 
    line-height: 1.6;
}

.stupac.b{
    float: right;
    width: calc(100% - 420px)
    

}

.stupac.b iframe{
    float: right;
    width: 100%;
    height: 500px;
    margin-right: 10px ;
    

}
.citat{
    box-sizing: content-box;
    background-color: rgb(235, 232, 232);
    font-size: small;
    margin: 10px;
    width: 50px;
    border-left: 4px solid silver;
}

.naslov{
    box-sizing: content-box;
    background-color: white;
    margin: 2rem;
    width: 20%;
    padding-left: 10px;
    border: 0;
    border-left: 4px solid brown;
}

p{
    font-family: sans-serif;
    padding: 20px;
    
}




.box{
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}



table{
    width: 90%;
    text-align: left;
    align-items: center;
    border-style: 1px solid silver;
    margin-left: 30px;
    
}

th{background-color: brown ; color: white; padding: 12px;}
tr{background-color: white;}
tbody tr:nth-child(2) td {background-color: silver}
td{padding: 12px;}
table, th, tr, td{min-height: 20px;}


fieldset{
    border: none;
}

label{
    font-weight: bold;
    line-height: 2;
    margin: 5px;

}


#unos{
    width: 100%;
}
#prostor{
    width: 100%;
    height: 150px;
}

.golub{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
}











footer{text-align: center; font-size: small; font-family: sans-serif;}