body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman';
}

h5{
    color: grey;
    text-align: center;
}

h3{
    background-color: brown;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 96%;
    padding: 10px;
    margin-left: 26px;
    border-radius: 2px;
    gap: 30px;
}

h3 a{
    color: white;
    text-decoration: none;
    font-weight: bold;


}
.linija{
    width: 97%;
    height: 6px;
    background-color: brown;
}

.okvir{
    padding: 10px;
    margin: 2rem;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #EEEEEE;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    border: none;
    background-color: white;
    
}

.box {
    margin: 10px;
    box-sizing: content-box;
    width: 6%;
    text-align: left;
    padding: 12px;
    font-family: 'Times New Roman';
    line-height: 1.6;
    display: flex;
    

.box1{
    grid-column: 1;
    grid-row: 1;
    align-items: left;
    justify-content: center;
    text-align: left;
    text-wrap: wrap;
    
}

.box2{
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 80%;
    height: 80%;
}


.box3{
    grid-column: 1;
    grid-row: 2;
    background-color: white;
    font-weight: 200;
    margin: 10px;
    width: 20px;
    padding-top: 10px;
    border-top: 2rem;
    border-left: 4px solid silver;
}

.naslov{
    box-sizing: content-box;
    background-color: white;
    margin: 2rem;
    width: 20%;
    padding-left: 10px;
    border: 0;
    border-left: 4px solid brown;
}
p{
    font-family: sans-serif;
    padding: 20px;
    
}


}

.box{
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}



table{
    width: 90%;
    text-align: left;
    align-items: center;
    border-style: 1px solid silver;
    margin-left: 30px
    
    
}

th{background-color: brown ; color: white; padding: 12px;}
tr{background-color: white;}
tbody tr:nth-child(2) td {background-color: silver}
td{padding: 12px;}
table, th, tr, td{min-height: 20px;}


fieldset{
    border: none;
}

label{
    font-weight: bold;
    line-height: 2;
    margin: 5px;

}


#unos{
    width: 100%;
}
#prostor{
    width: 100%;
    height: 150px;
}

.golub{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 15px;
    border: 0;
    border-radius: 5px;
}











footer{text-align: center; font-size: small; font-family: sans-serif;}