body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: black;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

.bgimage{
    background-image: url('img/pumping.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;                  /*ovo četvoro stavlja tekst preko slike*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(             /*podiže desni kut malo gore*/
        0 0,
        100% 0,
        100% 95%,
        0 100%);
}

.traka{
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-between;

}

.podatak{
    box-sizing: content-box;
    word-spacing: unset;
    }

.lijevo{
    color: rgba(159, 231, 24, 0.856);
    font-size: large;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding-left: 40px;
    }

.desno {
    text-align: right;
    gap: 35px;
    padding-right: 40px;
}

.desno a{
    text-decoration: none;
    color: white;
    font-size: x-small;
    text-transform: capitalize;
    gap: 40px;

    
}
h1{
    color: white;
    font-size: xxx-large;
    text-align: center;
    padding: 40px 0;

}
h5{
    color: white;
    text-align: center;
    padding: 40px 0;
    
}

button{
    background-color:rgba(159, 231, 24, 0.856);
    display: block;
    border-radius: 28px;
    padding: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: small;
    font-weight: bolder;
    margin-bottom: 40px;

}

h2{
    color: rgba(159, 231, 24, 0.856);
    text-align: center;
    font-size: x-large;

}

.kratka{
    background-color: whitesmoke;
    align-items: center;
    width: 5%;
    height: 2px;

}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.box{
    width: 200px;
    box-sizing: content-box;
    color: white;
    background-color: rgb(77, 77, 77);
    align-items: center;
    text-align: center;
    font-size: small;
    padding: 10px 20px;
    margin: auto;
    gap: 20px;
    border: none;
    border-radius: 10px;
}

h4{
    color: white;
    font-size: larger;
}

p{
    font-size: small;
    color: white;
    
}











caption{
    text-align: center;
    color: white;
    padding-top: 20px;
    caption-side: top;
    padding: 0;
    margin: 0;
}

table{
    color: white;
    background-color: rgb(64, 65, 65);
    width: 80%;
    padding: 20px;
    margin: 0 auto;;
    border: 1px solid grey;
    border-collapse: collapse;
}

thead{
    background-color:rgba(159, 231, 24, 0.856);
    color: black;
    text-transform: uppercase;
    
}

tbody tr td{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

td {
    border-top: 1px solid gray;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

td, th{
    text-align: center;
    padding: 20px;
    
    
}

tbody tr:nth-child(3) td:first-child{
    font-weight: bold;
}

td > .tekst{
    font-weight: bold;
}

.video{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

iframe{
    width: 90%;
    align-items: center;
    height: 50vh;
    padding-left: 45px;
    margin-top: 2rem;

}





.duga{
    background-color: rgba(159, 231, 24, 0.856);
    height: 1px;
    width: 95%;
}

.end{
    text-align: center;
    color: silver;
    font-size: x-small;
}

.section{
    min-height: auto;
    padding: 30px;
}

.grey{
    background-color: rgb(77, 77, 77);
}

.black{
    background-color: black;

}