body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: antiquewhite;
}

.header {
    background-color: #d65a00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.lijevo {
    text-transform: uppercase;
    font-weight: bolder;
}

.desno {
    color: white;
    margin: 20px;
    font-weight: 500;
}

.lijevo::before {
    content: '🍽';
}

h1 {
    text-align: center;
    color: #d65a00;
    margin-top: 80px;
    font-size: 36px;
}

h5 {
    text-align: center;
    color: #777;
    font-weight: normal;
    margin-bottom: 60px;
}

.linija1 {
    padding-left: 15px;
    color: #333;
    border-left: 4px solid #d65a00;
    margin-left: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

.okvir {
    padding: 0 8rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 8px;

}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
    
}

.box {
    background-color: white;
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
}

.box img {
    width: 100%;
    display: block;
}

.box p  {
    margin: 10px 15px;
    color: #333;
}
.box .cijena {
    text-align: right;
    font-weight: bold;
    color: #d65a00;
}

.ime {
    font-weight: bold;
}

.tanjur {
    font-size: 15px;
    color: #666;
}

.frame {
    background-color: white;
    margin: 65px;
    padding: 20px;
}
.linija2 {
    padding-left: 15px;
    color: #333;
    border-left: 4px solid #d65a00;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}

caption {
    text-align: left;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

table {
    width: 96%;
    margin: 10px 15px;
    padding: 50px auto;
    border: 1px solid black;
    border-collapse: collapse ;
}

th {
    color: white;
    background-color: darkblue;
    text-align: left;
}

td {
    text-align: left;
    border-left: none;
    border-right: none;
}

th, td {
    padding: 20px;
}

