body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: antiquewhite;
}

.header {
    background-color: #d65a00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.lijevo {
    text-transform: uppercase;
    font-weight: bolder;
}

.desno {
    color: white;
    margin: 20px;
    font-weight: 500;
}

.lijevo::before {
    content: '🍽';
}

h1 {
    text-align: center;
    color: #d65a00;
    margin-top: 80px;
    font-size: 36px;
}

h5 {
    text-align: center;
    color: #777;
    font-weight: normal;
    margin-bottom: 60px;
}

.linija {
    padding-left: 15px;
    color: #333;
    border-left: 4px solid #d65a00;
    margin-left: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

.okvir {
    padding: 0 8rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 8px;

}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}

.box {
    box-sizing: content-box;
    border: 10px;
    margin: 10px;
    padding: 0 auto;
    color: black;
    
}

.cijena {
    font-weight: bold;
    color: orange;
}

.ime {
    font-weight: bold;
    
}

.tanjur {
    font-size: small;
}

