body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: antiquewhite;
    padding-bottom: 80px;
}

.header {
    background-color: #d65a00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.lijevo {
    text-transform: uppercase;
    font-weight: bolder;
}

.desno {
    color: white;
    margin: 20px;
    font-weight: 500;
}

.lijevo::before {
    content: '🍽';
}

h1 {
    text-align: center;
    color: #d65a00;
    margin-top: 80px;
    font-size: 36px;
}

h5 {
    text-align: center;
    color: #777;
    font-weight: normal;
    margin-bottom: 60px;
}

.linija1 {
    padding-left: 15px;
    color: #333;
    border-left: 4px solid #d65a00;
    margin-left: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

    

.okvir {
    padding: 0 8rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 8px;

}

.flexbox {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
    
}

.box {
    background-color: white;
    width: 300px;
    border-radius: 6px;
    overflow: hidden;
}

.box img {
    width: 100%;
    display: block;
}

.box p  {
    margin: 10px 15px;
    color: #333;
}
.box .cijena {
    text-align: right;
    font-weight: bold;
    color: #d65a00;
}

.ime {
    font-weight: bold;
}

.tanjur {
    font-size: 15px;
    color: #666;
}

.frame {
    background-color: white;
    margin: 65px;
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 8px;
}

.linija2 {
    color: #333;
    border-left: 4px solid #d65a00;
}

.linija2, .linija3 {
    padding-left: 15px;
    margin-top: 30px;
    margin-left: 0;
    font-weight: bold;
}


caption {
    text-align: left;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse ;
}

th {
    color: white;
    background-color: #2c3e50;
    text-align: left;
    font-weight: bold;
}

td {
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

th, td {
    padding: 20px;
}

.tamni {
    background-color: #2c3e50;
    color: white;
    margin: 65px;
    padding: 20px;
    margin-bottom: 80px;
    border-radius: 8px;
    
}

.linija3 {
    color: white;
    border-left: 4px solid;
}

.unos {
    width: 100%;
    margin-bottom: 20px;
}

.frame, .tamni {
    padding: 40px;
}


label {
    display: block;
    margin-bottom: 4px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
}

.tipka {
    background-color: #d65a00;
    color: white;
    width: 100%;
    padding: 15px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bolder;
    border-radius: 8px;
}