body {
    margin: 0;
    background-color: rgb(38, 34, 61);
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    padding-bottom: 80px;
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline #00e0ff;
    text-underline-offset: 15px;
    margin-top: 65px;
    margin-bottom: 40px;
}

.blau {
    color: #00e0ff;
    font-weight: bold;
}

.grau {
    color: silver;
    text-align: center;
    font-size: smaller;
    line-height: 1.6;
}

.malo {
    font-size: smaller;
    
}

.naslov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.linkovi a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 10px;
}

.karte {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.karta {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(61, 61, 112);
}

button {
    text-align: center;
    font-weight: bold;
    
}

.weiss {
    color: white;
    text-align: center;
}

.dugme {
   display: block;
   margin: 0 auto;
   background-color: #00e0ff;
   color: black;
   padding: 15px;
   border-radius: 6px;
  
}

h4 {
    box-sizing: content-box;
    padding-bottom: 10px;
}

.video h4 {
    margin-bottom: 5px;
}

.video p {
    margin-top: 5px;
}


.video {
    text-align: center;
    padding: 20px;
    background-color: rgb(61, 61, 112);
}
    
.video video {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: auto;
    max-width: 650px;
}


.kontakt {
  padding: 80px 20px;
}


.tekst {
  text-align: center;
  color: white;
  margin-bottom: 50px;
}


.okviri {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}


.oblik {
  flex: 1;
  /* background: rgba(255,255,255,0.04); */
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.poruka {
  color: #bfc9d9;
  margin-bottom: 15px;
}

.oblik input,
.oblik textarea {
  background: transparent;
  background-color: rgb(61, 61, 112);
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 8px;
  padding: 12px;
  color: white;
  margin-bottom: 15px;
}

.oblik button {
  margin-top: 10px;
  padding: 12px;
  background: #00e0ff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  
}


.prazno {
  flex: 1;
  border: 1px solid silver;
  border-radius: 12px;
}

.footer {
    text-align: center;
    font-size: small;
    color: #bfc9d9;
}