body {
    background-color: #0a0a0a;
    color: #a6a9aa;
    font-family: cursive;
}

h1 {
    font-style: italic;
}

a {
    text-decoration: none;
    color: #ff1a1a;
}

img {
    border: 5px solid #ff1a1a;
    box-shadow: 0 0 15px 5px #a6a9aa;
}

.br {
    color: #ff6f3c;
}

.rc {
    color: #00ff33;
}
