body {
    margin: 0;
    background-color: rgb(47, 40, 87);
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    padding-bottom: 80px;
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline cyan;
    text-underline-offset: 10px;
    
}

.blau {
    color: cyan;
}

.grau {
    color: silver;
    text-align: center;
    font-size: smaller;
}

.malo {
    font-size: smaller;
}

.naslov {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.linkovi a {
    text-decoration: none;
    color: white;
    font-size: small;
    padding: 10px;
}

.karte {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.karta {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(146, 146, 170);
}

button {
    text-align: center;
}

.weiss {
    color: white;
    text-align: center;
}

.dugme {
   display: block;
   margin: 0 auto;
   background-color: cyan;
   color: black;
   padding: 15px;
   border-radius: 6px;
}

.footer {
    text-align: center;
    font-size: small;
}