body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: antiquewhite;
    padding-bottom: 80px;
}