body {
    margin: 0;
    background-color: rgb(31, 51, 82);
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    padding-bottom: 80px;
    border-radius: 8px;
    margin-top: 20px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "a a"
    "b c"
    "d e"
    "f f";
    gap: 2rem;
    background-color: rgba(27, 7, 75, 0.404);
    padding: 15px;
    border-radius: 8px;
}

.a {grid-area: a; 
    display: block;
    padding: 10px;
    margin-top: 40px;
    
}

.b {grid-area: b;
    padding: 15px;
}

.c {grid-area: c;
    padding: 10px;
}

.d {grid-area: d;
    padding: 15px;
}

.d > h5 {
    font-size: medium;
}

.a, .b, .c, .d {
    border-radius: 8px;
    background-color: rgb(92, 73, 131);
    padding: 10px;
}

h1, h4 {
    text-align: center;
}






















.stars {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 2rem;
}

.stars input {
    display: none;
}

.stars label {
    color: #ccc;
    cursor: pointer;
}

/* checked star + all before it */
.stars input:checked ~ label {
    color: gold;
}

/* hover effect */
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
}

.veza {
    text-decoration: none;
    color: greenyellow;
}


.btn {
    width: 100%;
    padding: 20px;
    color: black ;
    font-weight: bolder;
    background-color: rgb(45, 252, 45);
    border-radius: 8px;
}