section {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "p1 p1 p1"
    "p2 p3 p4"
    "p5 p5 p5";
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 2rem;
    

}
.p1 {grid-area: p1; background-color: red;}
.p2 {grid-area: p2; background-color: rgb(31, 83, 226);}
.p3 {grid-area: p3; background-color: white;}
.p4 {grid-area: p4; background-color: rgb(233, 104, 233);}
.p5 {grid-area: p5; background-color: rgb(67, 190, 62);}





div {
    background-color: none;
    border: 2px solid black;
    padding: 2rem;
    place-items: center;
    color: white;
    display: grid;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 3px 3px 5px black;
  
}



.p3 {
    display: grid;
    grid-template-areas: 
    "s1 s1"
    "s2 s3";
    row-gap: 2rem;
    column-gap: 2rem;
    
            
}    
   
.s1 {
    grid-area: s1; 
    background-color: gold;
    width: 100%;
    height: 5%;
    padding: 1rem;
    
    
}
.s2 {
    grid-area: s2; 
    background-color: orange;
    width: 98%;
    height: 5%;
    padding: 1rem;
    justify-items: left;
    margin-right: 15px;
    
 }
.s3 {
    grid-area: s3; 
    background-color: green;
    width: 98%;
    height: 5%;
    padding: 1rem;
    justify-items: right;
    margin-left: 15px;
    
 }

.p3 > div {
    padding-top: 0.5rem;
    display: grid;
    place-items: center;
}








