body{
background-color: antiquewhite;
margin-left: 20px;
margin-right: 20px;

}

h1{
    font-family: sans-serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #ff0066;
}
#sadrzaj{
    background-color: aliceblue;
    font-family: sans-serif;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
}
#tekst{
    font-family: Courier, monospace;
    word-spacing: unset;
}
span.dio1{
    color: #ff0066;
}
ul{list-style: none;}
ul li::before {content: "✅";}
ul {padding-left: 0;}
ul {line-height: 2;}

span.dio2{
    text-decoration: underline;
    text-decoration-color: #ff0066;
    text-decoration-thickness: 2px;
}

span.dio3{
    font-size: xx-large;
}

span.dio4{
    text-emphasis: underline;
    color: #ff6600;
    background-color: aliceblue;
    font-size: large;
}
li span{
    background-color: antiquewhite;
    font-family: Courier, monospace;
    padding: 4px 4px;
    border-radius: 10px;
}

