section{
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p4 p4"
    "p5 p5 p5 p5 p5 p5 p5 p5 p5 p5";
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 2rem;

}
.p1{grid-area: p1; background-color: red;}
.p2{grid-area: p2; background-color: rgb(31, 83, 226);}
.p3{grid-area: p3; background-color: white;}
.p4{grid-area: p4; background-color: rgb(233, 104, 233);}
.p5{grid-area: p5; background-color: rgb(67, 190, 62);}

div{
    background-color: none;
    border: 2px solid black;
    border-radius: 0%;
    padding: 2rem;
    font-size: 120%;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: 3px 3px 5px black;
    display: grid;
    place-items: center;
}
.p3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    ". . . ."
    "s1 s1 s1 s1"
    ". . . . "
    ". . . ."
    "s2 s3 s3 s3"
    ". . . ."
    ". . . .";
    row-gap: 3rem;
    column-gap: 3rem;
    font-family: Arial, sans-serif;
    justify-items: center;
    font-size: 80%;
            
}    
   
.s1{
    grid-area: s1; 
    background-color: gold;
    width: 100%;
    height: 15%;
    padding: 1rem;
    
    
}
.s2{
    grid-area: s2; 
    background-color: orange;
    width: 100%;
    height: 15%;
    padding: 1rem;
    
 }
.s3{
    grid-area: s3; 
    background-color: green;
    width: 100%;
    height: 15%;
    padding: 1rem;
    
 }

.p3 > div {
    padding-top: 0.5rem;
}





