body{
    background-color:none;
}

section{
    display: grid;
    grid-template-areas: 
    "p1 p1 p1 p1 p1 p1 p1 p1 p1 p1"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p2 p3 p3 p3 p3 p3 p3 p3 p3 p4"
    "p5 p5 p5 p5 p5 p5 p5 p5 p5 p5";
    row-gap: 1rem;
    column-gap: 1rem;
    padding-top: 2rem;

}
.p1{grid-area: p1; background-color: red;}
.p2{grid-area: p2; background-color: lightskyblue;}
.p3{grid-area: p3; background-color: white;}
.p4{grid-area: p4; background-color: violet;}
.p5{grid-area: p5; background-color: greenyellow;}

div{
    background-color: none;
    border: 2px solid black;
    border-radius: 0%;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    display: grid;
    place-items: center;
}
.c{
    grid-area: c;
    display: grid;
    background-color: none;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    align-items: center;
    border: 2px solid black;
    border-radius: 0%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    display: grid;
    place-items: center;
}
.c1{grid-area: c1; background-color: gold;}
.c2{grid-area: c2; background-color: orange;}
.c3{grid-area: c3; background-color: green;}


