body{
    background-color:#79BAEC;
}

.container{
    width: 90%;
    max-width: 900px;
    min-width: none;
    inline-size: 90%;
    max-inline-size: 900px;

    min-height: 100vh;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: aliceblue;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

section{
    background-color: #29465B;
}
h1, h2, h4{
    text-align: center;
    font-family: sans-serif;
}

h1, h2{color: white;}
h4 {color: orange;}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
