body{
    background-color:#79BAEC;
}

.container{
    width: 90%;
    max-width: 900px;
    min-width: none;
    inline-size: 90%;
    max-inline-size: 900px;

    min-height: 100vh;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: #EBF4FA;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

section{
    background-color: #29465B;
}
h1, h2, h4{
    text-align: center;
    font-family: sans-serif;
}

h1, h2{color: white;}
h4 {
    color: orange;
    font-size: smaller;
}

hr{
    color: #6D7B8D;
    list-style: 2px;

}

p{
    font-family: sans-serif;
}
.okvir{
    padding: 2rem;
    margin: 2rem 4px 4px 2rem;
    border: none;
    background-color: white;
       

}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: solid #1589FF;
    background-color: #DADBDD;
}
.box{
    background-color: #1589FF;
    color: white;
    font-family: sans-serif;
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    text-align: center;
}

