body {
    /*animation: blinkBg 0.5s infinite; */
    background-color: darkblue;
}

@keyframes blinkBg {
  0% {
    background-color: red;
  }
  50% {
    background-color: lime;
  }
  100% {
    background-color: red;
  }

  
}
    
.page-bg{
    background: #2799E5;
    background: -moz-linear-gradient(top, #2799E5 0%, #36D3DD 50%, #F7E141 100%);
    background: -webkit-linear-gradient(top, #2799E5 0%, #36D3DD 50%, #F7E141 100%);
    background: linear-gradient(to bottom, #2799E5 0%, #36D3DD 50%, #F7E141 100%);
}

.navbar {
    background-color: gold;
    font-weight: bold;
    color: dodgerblue;
}

h5, h2{
    color: crimson;
    font-style: italic;
}

.carousel-item {
  height: 80vh;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-caption-custom {
  position: absolute;
  left: 5%;
  bottom: 10%;
  max-width: 420px;

  color: #fff;
  text-align: left;

  background: rgba(0, 0, 0, 0.55);
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;

  z-index: 10;              /* 👈 OVO JE KLJUČ */
  pointer-events: auto; 
}

.list-group {
    background-color: lightgrey;
    text-align: left;
    padding: 10px;
    color: crimson;
}

