.pozadina {
    background-color: var(--bangladesh-green);
}

header {
    text-align: center;
    padding: 15px;
}

h2 {
    color: var(--caribbean-green);
}

h4 {
    font-size: smaller;
    color: silver;
}

h5 {
    color: silver;
}

.slika {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 10px;
    margin: 100px;
    border-radius: 15px;
    background-color: var(--bangladesh-green);

    overflow: hidden;
}

.slika img {
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

img {
    overflow: hidden;
}

.button {
    display: flex;
    padding-top: 20px;
    gap: 1rem;

    
}

.btn {
    background-color: var(--caribbean-green);
    color: var(--dark-green);
    padding: 10px 15px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
}




footer {
    text-align: center;
    padding: 8px;
    font-size: small;
    
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}



