body{
    background-color: #888B90;
}

.container{
    
    width: 90%;
    max-width: 500px;
    min-width: 200px;
    inline-size: 90%;
    max-inline-size: 500px;

    min-height: 50vh;
    min-block-size: 50vh;

    margin: 0 auto;
    background-color: #F0F1F0;
        
    outline-style: none;
    outline-width: 2px;
    outline-offset: 10px;

    box-sizing: content-box;
    border-radius: 5px;
}

h1{text-align: center;}

.okvir{
    background-color: white;
    text-align: left;
    content: left;
    padding: 2rem;
    border: none;
    border-radius: 5px;
    margin: 2rem;
    font-family: Arial, sans-serif;
    
}

form button{
    text-align: center;
    color: white;
    background-color: #1F45FC;
    box-sizing: content-box;
    width: 95%;

}
form label{
    text-align: left;
    display: block;
}
caption{
    text-align: left;
    font-weight: bold;
    
}

table {
    width: 90%;
    text-align: left;
    font-family: Arial, sans-serif;
    align-items: center;
    margin-left: 20px
    
}
 

table, th, td{
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1 ;
}



th{background-color: #f1f1f1; padding: 10px;}
td{background-color: white; padding: 10px;}

tfoot{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}
.word1{
    color: green;
}
.word2{
    color: red;
}

