body{background-color: black;}

h1, h4{
    color: white; 
    font-family: Arial, sans-serif;
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
    background-color: orange;
    color: black;
    box-sizing: content-box;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
}

.opis{
    color: black;
    background-color: white;
    border: none;
    margin: 10px auto;
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}
.okvir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    
    padding: ;
    
}
.podokvir{
    background-color: #EEEEEE;
    flex: 1;
    text-align: justify;
    font-family: Arial, sans-serif;
    min-width: 250px;
    max-width: 350px;
}
