body{background-color: black;}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: none;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: #EBF4FA;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

.naslov{
    background-color: black;
    height: 30vh;
}

h1, h4{
    color: white; 
    font-family: Arial, sans-serif;
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
    background-color: orange;
    color: black;
    box-sizing: content-box;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: large;
}

.opis{
    color: black;
    background-color: white;
    border: none;
    margin: 10px auto;
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}
.okvir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 10px;

}
.podokvir{
    background-color: #EEEEEE;
    flex: 1;
    text-align: justify;
    font-family: Arial, sans-serif;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid orange;
}
.stupci{
    column-count: 2;
    column-gap: 2rem;
    text-align: justify;
    column-rule: 2px solid #C0C0C0;
    padding: 10px;
    margin: 4px;
     
}

caption{font-weight: bolder; text-align: left;}

table {
    width: 100%;
    text-align: left;
    font-family: Arial, sans-serif;
    align-items: center;
    margin-left: 10px
    
}

thead th{
    background-color: black;
    color: white;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid #f1f1f1;
    
}

.okvir tbody tr:nth-child(2) > td, 
.okvir tbody tr:nth-child(4) > td{
    background-color: #C0C0C0;
}


th{background-color: #f1f1f1; padding: 10px;}
td{background-color: white; padding: 10px;}

tfoot{
    text-align: center;
    font-family: sans-serif;
    font-size: small;
}
form button{
    text-align: center;
    color: white;
    box-sizing: border-box;
    width: 95%;

}
form label{
    text-align: left;
    display: inline-flex;
    width: 95%;
}
caption{
    text-align: left;
    font-weight: bold;
    
}

