body{
    background-color: aliceblue;    
}
.container{
    width: 90%;
    max-width: 900px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 900px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;

}
.section{
    border: 1px solid;
    border-radius: 4dvh;
    margin: 10px;
    padding: 8px 8px;
    

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-weight: bold;
}
h4{
    text-decoration: underline orange;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    font-style: italic;
    text-align: center;
    font-family: Georgia, serif;
    text-transform: uppercase;
}

span.veliko {
    font-size: 140%;

}

.linija {
    border-left: 10px solid orange;
    padding: 0;
    margin: 0;
    background: black;
    width: 100%;
    box-sizing: border-box;

}

.linija img{
    display: block;
}

span.dio1{
    text-decoration: dotted;
    font-style: normal;
    text-decoration-line: underline;
}
span.dio2{
    background-color: bisque;
    padding: 2px 2px;
    border-radius: 4px;
}
p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-family: sans-serif;
}
h3{
    margin: 10px;
}
h5{
    text-align: center;
    
}
span.word1{
    font-family: sans-serif;
    font-weight: bolder;
    color: coral;
}
span.word2{
    color: #3483b8;}

.citat{
    background-color: #be65655b;
    border-left: 5px solid #e73c3cd2;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box1{
    background-color: rgba(128, 128, 128, 0.356);
    padding: 10px;
}

.box1 > p > span {
    font-weight: bold;
    font-style: italic;
    color: rgba(0, 115, 209, 0.788);
    font-size: large;
}

.box2{
    background-color: none;
    padding: 10px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    border-left: 5px solid darkblue;


}

li{
    list-style: none;
    padding: 15px;
    margin: 0;
}

li .oznaka {
    font-size: large;
    font-weight: bold;
    color: orange;
    padding: 5px;
    font-family: Arial, sans-serif;
   
}

.okvir {
    padding: 5px;
    padding-bottom: 15px;
    border: solid, aliceblue;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    margin: 10px auto;
}

.okvir img {
    display: block;    
    max-width: 100%;
}

.okvir p {
    text-align: center;
    margin-bottom: 5px;
}