body{
    background-color: aliceblue;    
}
.container{
    width: 90%;
    max-width: 900px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 900px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;

}
.section{
    border: 1px solid;
    border-radius: 4dvh;
    margin: 10px;
    padding: 8px 8px;
    

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-weight: bold;
}
h4{
    text-decoration: underline;
    font-style: italic;
    text-align: center;
}
.linija{
    border-left: 5px solid orange;
    padding: 0;
    margin: 0;

}

span.dio1{
    text-decoration: dotted;
    font-style: normal;
    text-decoration-line: underline;
}
span.dio2{
    background-color: bisque;
    padding: 2px 2px;
    border-radius: 4px;
}
p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-family: sans-serif;
}
h3{
    margin: 10px;
}
h5{
    text-align: center;
    
}
span.word1{
    font-family: sans-serif;
    font-weight: bolder;
    color: coral;
}
span.word2{
    color: #3483b8;}

.citat{
    background-color: #be65655b;
    border-left: 5px solid #e73c3cd2;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
