body {
    margin: 0;
}


#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    z-index: 1000;
}


#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #30c39e;
}


