body{
    background-color: antiquewhite;
}
audio{
    outline: none;
    width: 100%;
    background-color: brown;
   
}

video{
    max-width: 400px;
}
.stranica{
    min-width: 600px;
    min-height: 400px;
    border: 2px double blue;
}
