body {
    background-color: whitesmoke;
}

.container { 
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;

    background-color: azure;
}


h1 {
    text-align: center;
    color: crimson;
}