:root{
    --flex-color-t: #39eafd;
    --flex-color: #133e7c;
    --bg-color: #18f3c8;
    --grid-color-t: #ff6bd6 ;
    --grid-color: #133e7c;
}

.web {
    background-color: black;
    padding: 20px;
    margin: auto;
    font-family: sans-serif;
}

.page{background-color: rgb(66, 66, 66);}

.title{ 
    color: white;
    text-align: center;
}

.flex-container {
    margin: 50px auto;
    width: min(1100px, 95%);
    display: flex;
    gap: 1em;
}


.flex-container .card {
    flex: 1;                                    /*radi okvire jednakima*/
    padding: 2em;
    border-radius: .5em;
    background: var(--flex-color-t);
    color: var(--flex-color);
    border: 5px solid var(--flex-color);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flex-container .card p {
    flex-grow: 1;                               /*buttons position je sad jednak*/
}

.flex-container button {
    padding: 1em 3em;
    font: inherit;
    border-radius: .4em;
    border: none;
    background-color: var(--flex-color);
    color: var(--bg-color);
}

.grid-container {                              /*grid ima sve box jednake - nema flex problem*/
    margin: 50px auto;
    width: min(1100px, 95%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;         
    gap: 1em;
}

.grid-container .card {
    padding: 2em;
    border-radius: .5em;
    background: var(--grid-color-t);
    color: var(--grid-color);
    border: 5px solid var(--grid-color);
    text-align: center;
    align-items: center;
    display: grid;
    /* flex-direction: column; */                   /*ide van*/  
    grid-template-rows: auto 1fr auto;              /*umjesno njega ide ovo*/
    gap: 1em;
}

.grid-container button {
    padding: 1em 3em;
    font: inherit;
    border-radius: .4em;
    border: none;
    background-color: var(--grid-color);
    color: var(--bg-color);
}