.container{
    display: grid;
    grid-template-areas: 
    "a a a"
    "b b b"
    "c c e"
    "d d e"
    "f f f";
    row-gap: 1rem;
    column-gap: 1rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}
.f{grid-area: f;}

.podrucje{
    border: 2px solid #00e5ff;
    min-height: 30px;
}

div{
    border: none;
    background-color: transparent;
    color: #ffe500;
    font-size: large;
    text-align: left;
        
}