body{
    background-color: antiquewhite;
}

h1{                               /*selektor elementa*/
    color: royalblue;
    text-align: center;
}

.linija{                          /*selektor klase, točka(najčešći element)*/
    border: 0;
    height: 5px;
    background-color: #ee3e1e;
    border-radius: 2px;
}

#sadrzaj p{                          /*selektor identifikacije*/
    font-family: sans-serif;
    color: #175616;

}

ul{
    list-style: none;
}

ul li::before{
    content: '👋🏼';
}

ol{
    list-style-type: upper-roman;
}