:root{
    --primarna-boja: #34c230;
    --naglasena-boja: #175616;
    --pozadinska-boja:  #62d75f;
}

body{
    background-color: var(--pozadinska-boja);
    background-image: radial-gradient(circle, #0a260a,1px,transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
    background-attachment: fixed;

}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 100vh;
    min-block-size: 100vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;
    
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--naglasena-boja);
    outline-offset: 10px;
}

section{
    border: 1px solid var(--primarna-boja);
    border-radius: 1rem;
    margin: 10px;
    padding: 20px;
}

img{
    display: block;
    margin: 0 auto;
    color: var(--naglasena-boja);
    
}

/* ili --- .imgË˜{ margin: auto;}  ali mora imati selektor klase unutar img */