body {
    background-color: #71a6ae;
}

audio {
    outline: none;
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: #18668c;
    
}

video{
    max-width: 500px;
}

.stranica {
    min-width: 600px;
    min-height: 600px;
    border: 2px solid #ca0b0b;
}