/*https://htmlcheatsheet.com/css/ */

body{
    background: #9700cc;
    background: -moz-linear-gradient(left, #9700cc 0%, #F6019D 50%, #035EE8 100%);
    background: -webkit-linear-gradient(left, #9700cc 0%, #F6019D 50%, #035EE8 100%);
    background: linear-gradient(to right, #9700cc 0%, #F6019D 50%, #035EE8 100%);(to right, #2DE2D6 0%, #F6019D 50%, #035EE8 100%);
}

section{
    display: grid;
    grid-template-areas: 
    ". . a a b"
    "c c d d b"
    "e e e e b"; 
    row-gap: 2rem;
    column-gap: 2rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}

div{
    background-color:#ffe500 ;
    border: 5px solid #29ffd8;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 2rem;
}

.pocetna{
    color: #29ffd8;
    text-decoration: none;
}