:root {
    --primarna-boja: #267c7c;
    --sekundarna-boja: #121d83;
    --naglasena-boja: #6ce3e7;
    --pozadinska-boja: #082044;
}


@font-face {
    font-family: 'Prompt';
    src: url ('../fonts/Prompt-Regular.ttf') format ('truetype');
}

body {
    font-size: large;
    color: whitesmoke;
    font-family: 'Prompt', 'Arial', sans-serif;
    background-color: black;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: var(--pozadinska-boja);
    padding-bottom: 80px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sekundarna-boja);
    gap: 2rem;
    padding: 30px 40px;
}

a {
    text-decoration: none;
    color: white;

}

.header li {
    list-style-type: none;
}

.header li.active a {
    background-color: var(--naglasena-boja);
}

