body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman';
}

h5{
    color: grey;
    text-align: center;
}
.linija{
    width: 97%;
    height: 6px;
    background-color: brown;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
    gap: ;
    row-gap: ;
    column-gap: ;
    margin: ;
    box-sizing: border-box;
}

.a  {grid-area: a;}
.b  {grid-area: b; 
    text-align: left;
    box-sizing: 20px; 

}
.c{grid-area: c;}
.d{grid-area: d;}




.naslov{
    box-sizing: content-box;
    background-color: white;
    margin: 2rem 4px 4px 2rem;
    padding: 0;
    border: 0;
    border-left: 4px solid brown;
}
p{
    font-family: sans-serif;
}

.box{
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}
.stupac{
    column-count: 1;
    column-gap: 20px;
    text-align: left;
