body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman';
}

h5{
    color: grey;
    text-align: center;
}
.linija{
    width: 97%;
    height: 6px;
    background-color: brown;
}

.flexbox{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 4rem;
    border: none;
    background-color: white;
    
}




.naslov{
    box-sizing: content-box;
    background-color: white;
    margin: 2rem 4px 4px 2rem;
    width: 20%;
    padding: 0;
    border: 0;
    border-left: 4px solid brown;
}
p{
    font-family: sans-serif;
}

.box{
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}
.stupac{
    column-count: 1;
    column-gap: 20px;
    text-align: left;
