body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: brown;
    font-family: 'Times New Roman';
}

h5{
    color: grey;
    text-align: center;
}
.linija{
    width: 97%;
    height: 6px;
    background-color: brown;
}

.okvir{
    padding: 2rem;
    margin: 2rem 4px 4px 2rem;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #EEEEEE;
}

.flexbox{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    border: none;
    background-color: white;
    
}




.naslov{
    box-sizing: content-box;
    background-color: white;
    margin: 2rem 4px 4px 2rem;
    width: 20%;
    padding: 0;
    border: 0;
    border-left: 4px solid brown;
}
p{
    font-family: sans-serif;
}

.box{
    margin: 20px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}
.stupac{
    column-count: 1;
    column-gap: 20px;
    text-align: left;
}



table{
    width: 90%;
    text-align: left;
    align-items: center;
    border-style: 1px solid #F1F1F1;
    margin-left: 30px
    
    
}

th{background-color: brown ; color: white; padding: 20px;}
tr{background-color: white; padding: 20px;}
tbody tr:nth-child(2) td {background-color: silver}

table, th, tr, td{min-height: 20px;}