:root {
  --rich-black: #010B0A;
  --dark-green: #022C22;
  --bangladesh-green: #006A4E;
  --mountain-meadow: #30C39E;
  --caribbean-green: #00E1A0;
  --anti-flash-white: #F2F3F4;
}



@font-face {
    font-family: 'Prompt';
    src: url ('../fonts/Prompt-Regular.ttf') format ('truetype');
}

body {
    font-size: large;
    color: whitesmoke;
    font-family: 'Prompt', 'Arial', sans-serif;
    background-color: #010B0A;
}

.container {
    max-width: 1100px;
    min-height: 100vh ;
    margin: 0 auto;
    background-color: var(--dark-green);
    padding-bottom: 80px;
    position: relative;
}


.header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap; 
    background-color: var(--bangladesh-green);
    gap: 1rem;
    padding: 0 40px;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;

}

.header li {
    list-style-type: none;
}

.header li.active {
    background-color: var(--mountain-meadow);
}

.header li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    white-space: nowrap;
}


