.menu-text {
    text-align: right;
}

body {
    background: #D8E001;
    background: -moz-linear-gradient(-45deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
    background: -webkit-linear-gradient(-45deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
    background: linear-gradient(135deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
}

h5 {
    font-weight: bold;
}

.orbit {
  max-width: 100%;
}

.orbit-slide {
  height: 700px;          /* prilagodi po želji */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;       /* podloga ako slika ne ispuni sve */
}

.orbit-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* KLJUČ */
}
