.menu-text {
    text-align: right;
}

body {
    background: #D8E001;
    background: -moz-linear-gradient(-45deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
    background: -webkit-linear-gradient(-45deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
    background: linear-gradient(135deg, #D8E001 0%, #E54E78 50%, #75e7a1 100%);
}

h5 {
    font-weight: bold;
}

.orbit {
  max-width: 100%;
}

.orbit-slide {
  height: 700px;          /* prilagodi po želji */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;       /* podloga ako slika ne ispuni sve */
}

.orbit-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* KLJUČ */
}

.hero-banner {
  background-image: url("../img/drone-training-course_2.jpg");

  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* fiksna visina bannera */
  height: 60vh;

  /* nema pomicanja layouta */
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.hero-content {
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 2rem;
  max-width: 600px;
}

.hero,
.hero-banner,
.hero-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* MOBILE */
@media screen and (max-width: 639px) {
  #desktop-menu {
    display: none;
  }

  #desktop-menu.is-open {
    display: block;
  }
}

/* TABLET + DESKTOP */
@media screen and (min-width: 640px) {
  #desktop-menu {
    display: block !important;
  }
}
