body{background-color: silver;}

h1{
    color: blue;

    
    
}

h3{
    color: silver;
}

.okvir{
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    box-sizing: content-box;
    padding: 15px 20px;
    margin: 100px auto;
    border: none;
    max-width: 300px;
    width: 80%;
    border-radius: 5px;

    
}