body{
    background-color: silver;
}

h1{
    color: blue;
}

h3{
    color: silver;
}


.okvir{                         /*može bez class, hvata samo div*/
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    box-sizing: content-box;   /*nije potrebno*/
    padding: 15px 20px;        /*L-D, gore-dolje*/
    margin: 100px auto;        /*pomakli smo desno*/
    border: none;
    max-width: 300px;          /*širina tog boxa*/
    width: 80%;                /*nema utjecaja na sliku*/
    border-radius: 5px;        /*zaobljeni rubovi*/

  
}