@import url(../main.css);

header {
    text-align: center;
    padding: 15px;
}

h4 {
    font-size: smaller;
    color: silver;
}

h2 {
    color: var(--caribbean-green);
}

h5 {
    color: silver;
}

.pozadina {
    background-color: var(--bangladesh-green);
}

.grid {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: 
    "";
    background-color: var(--dark-green);
    padding: 10px;
    margin: 100px;
    border-radius: 15px;

}


label {
    color: var(--caribbean-green);
    padding: 10px;
    font-weight: bold;
}

input {
    background-color: var(--rich-black);
    padding: 10px;
    color: var(--anti-flash-white); 
}

option, select {
    background-color: var(--rich-black);
    color: var(--caribbean-green);
}


input[type="submit"] {
    width: 100%;
    font-weight: bold;
    color: var(--rich-black);
    background-color: var(--caribbean-green);
    border-radius: 8px;
    padding: 10px;
}









footer {
    text-align: center;
    padding: 8px;
    font-size: small;
    
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}