@import url(../main.css);

header {
    text-align: center;
    padding: 15px;
}

h4 {
    font-size: smaller;
    color: silver;
}

h2 {
    color: var(--caribbean-green);
}

h5 {
    color: silver;
}

.pozadina {
    background-color: var(--bangladesh-green);
}

.grid {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-areas: 
    "";
    background-color: var(--dark-green);
}

label {
    color: var(--caribbean-green);
}

input {
    background-color: var(--rich-black);
    
}

option, select {
    background-color: var(--rich-black);
    color: var(--caribbean-green);
}












footer {
    text-align: center;
    padding: 8px;
    font-size: small;
    
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}