@import url(../main.css);

header {
    text-align: center;
    padding: 15px;
}

h4 {
    font-size: smaller;
    color: silver;
}

h2 {
    color: var(--caribbean-green);
}

h5 {
    color: silver;
}

.pozadina {
    background-color: var(--bangladesh-green);
}


















footer {
    text-align: center;
    padding: 8px;
    font-size: small;
    
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}