@import url(../main.css);

header {
    text-align: center;
    padding: 15px;
}

h4 {
    font-size: smaller;
    color: silver;
}

h2 {
    color: var(--caribbean-green);
}

h5 {
    color: silver;
}

.pozadina {
    background-color: var(--bangladesh-green);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px 30px;

    background-color: var(--dark-green);
    padding: 30px;
    margin: 100px auto;
    
    max-width: 600px;
}


label {
    color: var(--caribbean-green);
    font-weight: bold;
    margin-bottom: 8px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field.full {
    grid-column: 1 / -1;
}

input[type="submit"] {
    grid-column: 1 / -1;
    margin-top: 20px;

    font-weight: bold;
    color: var(--rich-black);
    background-color: var(--caribbean-green);
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
}

input,
select,
textarea {
    background-color: var(--rich-black);
    padding: 12px;
    color: var(--anti-flash-white);
    border: 1px solid var(--dark-green);
    border-radius: 6px;
    width: 100%;
}

textarea {
    min-height: 120px;
    resize: none;
}


footer {
    text-align: center;
    padding: 8px;
    font-size: small;
    
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}